@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bounce-link2 {
  animation: bounce-animation 0.5s ease-in-out infinite;
  animation-delay: 0s;
  animation-duration: 4s; /* Total cycle: 1s bounce + 5s wait */
}

@keyframes bounce-animation {
  0%, 10% {
    transform: translateY(0px);
  }
  5% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.bounce-link {
  animation: bounce-animation 0.5s ease-in-out infinite;
  animation-delay: 0s;
  animation-duration: 5s; /* Total cycle: 1s bounce + 5s wait */
}

@keyframes bounce-animation {
  0%, 10% {
    transform: translateY(0px);
  }
  5% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.bounce-link3 {
  animation: bounce-animation 0.5s ease-in-out infinite;
  animation-delay: 0s;
  animation-duration: 3s; /* Total cycle: 1s bounce + 5s wait */
}

@keyframes bounce-animation {
  0%, 10% {
    transform: translateY(0px);
  }
  5% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

input:focus {
  outline: none;
}

input {
  border: 1px solid rgb(119, 118, 118);
  padding: 4px;
}